/* ----------------------- Common Section ----------------------- */

/* ---------------- General ---------------- */
:root {
  --text-color: #f2f2f2;
  --title-color: #03A9F4;
  --body-color: #181616;
  --container-color: #212121;
}

html, body {
  background-color: var(--body-color);
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* ---------------------------------------- */


/* ---------------- Theme ---------------- */
.dark{
  background-color: var(--body-color);
  color: var(--text-color);
}

.text-blue {
  color: var(--title-color) !important;
}
/* ---------------------------------------- */

/* --------------- Headings --------------- */
h1, h2, h3, h4, h5, h6 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
/* ---------------------------------------- */

/* ---------------- Links ----------------- */
a, a:hover,a:active, a:visited {
  color: var(--body-color) !important;
}

h1 a, h1 a:hover, h1 a:active, h1 a:visited {
  color: var(--title-color) !important;
}
/* ---------------------------------------- */

/* -------------- Scrollbars -------------- */
::-webkit-scrollbar {
  width: .5rem;
  background-color: var(--container-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--title-color);
}

::-webkit-scrollbar-thumb:hover {
  background-color: white;
}
/* ---------------------------------------- */

/* --------------- Dividers --------------- */
.hr {
  background-color: var(--container-color) !important;
}
/* ---------------------------------------- */

/* ----------- Button with icon ----------- */
.ripple {
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}
/* ---------------------------------------- */

/* ------------ Section title ------------- */
.badge {
  font-size: 1rem !important;
  text-transform: uppercase;
  background-color: var(--container-color) !important;
  color: var(--text-color) !important;
}
/* ---------------------------------------- */

/* ---------------- Buttons ---------------- */
.btn {
  box-shadow: none !important;
  height: 100%;
}

.btn label {
  cursor: pointer;
  padding-left: 1rem;
}

.btn.tip {
  border-radius: 0.3em 0 0 0.3em !important;
}
/* ---------------------------------------- */

/* ---------------- Others ---------------- */
.btn-primary, .range .thumb:after, .thumb-value {
  background: var(--title-color) !important;
}

.input-group>:not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
  padding-left: .5rem;
  padding-right: .5rem;
}
/* ---------------------------------------- */

/* -------------------------------------------------------------- */



/* ---------------------- Settings Section ---------------------- */

/* -------------- Font Picker -------------- */
#font-picker {
  width: 100%;
}

#font-picker .dropdown-button {
  background-color: white !important;
  color: var(--body-color);
  border-radius: .2rem;
}

#font-picker .font-list {
  background-color: white !important;
  color: var(--body-color);
  margin-top: -3px;
  z-index: 9999;
  border-radius: 0 0 .2rem .2rem;
}
/* ---------------------------------------- */

/* ---------------- Slider ---------------- */
::-webkit-slider-thumb {
  background: var(--title-color) !important;
}

::-moz-range-thumb {
  background: var(--title-color) !important;
}

::-ms-thumb {
  background: var(--title-color) !important;
}

.thumb-value {
  border-radius: 50%;
}
/* ---------------------------------------- */

/* ---------------- Switch ---------------- */
.form-switch .form-check-input:checked[type=checkbox]:after, .form-switch .form-check-input[type=checkbox]:after{
  background: var(--title-color) !important;
}

.form-check-input[type=checkbox], .form-check-input[type=checkbox]:checked {
  background: var(--text-color) !important;
}

.form-check-input {
  margin-top: .4em !important;
}
/* ---------------------------------------- */

/* -------------- Dropdowns -------------- */
.dropdown {
  padding: 0 !important;
}

.dropdown button span {
  background-color: var(--title-color) !important;
}

.dropdown button {
  border-radius: 0 .25rem .25rem 0 !important;
}

.dropdown-toggle::after {
  margin-left: .3rem !important;
}

.dropdown-menu {
  text-align: right !important;
  border-radius: 0 0 .25rem .25rem !important;
}

/* ----------- Text After Input ----------- */
.input-group-text {
  background-color: var(--container-color) !important;
  color: var(--text-color) !important;
}
/* ---------------------------------------- */

/* ------------- Headings Size ------------- */
.disabled, .disabled span, .disabled input{
  background-color: var(--container-color) !important;
  color: var(--text-color) !important;
  font-weight: bold !important;
  border-color: #333;
}

.reduced {
  font-size: 1.5em;
}
/* ---------------------------------------- */

/* -------------------------------------------------------------- */



/* ----------------------- Preview Section ----------------------- */

/* -------------- Size details -------------- */
.details {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0;
  padding: 0;
  opacity: .5;
  font-size: 1rem;
}

.details li {
  padding-right: 1.2rem;
}

.details li:last-child {
  padding-right:  0;
}

.details li::after {
  padding-left: 1.2rem;
  content: '\25cf';
}

.details li:last-child:after {
  display: none;
}

.apply-font {
  padding-bottom: .5rem;
}
/* ------------------------------------------- */

/* -------------------------------------------------------------- */



/* ------------------------ Code Section ------------------------ */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

pre {
  border-radius: .3rem;
  -webkit-user-select: text;
  -webkit-touch-callout: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}
/* -------------------------------------------------------------- */
